* {
    padding: 0;
    margin: 0;
    list-style: none;
}

@font-face {
    font-family: 'shlop';
    src: url(fontes/shlop\ rg.otf);
}

@font-face {
    font-family: 'bebas';
    src: url(fontes/BebasNeue.otf);
}

#cabecalho {
    padding: 3rem;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;

}

#cabecalho .logo h4 {
    display: flex;
    color: rgb(182, 0, 0);
    font-family: 'bebas', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
}

#items {
    display: flex;
    margin-left: 42rem;
    font-size: 1rem;

}

.x>a {
    color: white;
    margin-left: 2rem;

}

.x>a:hover {
    color: rgb(150, 3, 3);
    margin-left: 2rem;
    transition: 0.8ms;
    font-size: 1.5rem;

}

#section2 {
    padding: 6rem;
    background-color: rgba(0, 0, 0, 0.308);
}

#titulo {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 1rem;
}

#section2 p {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 1rem;
}

#buttom {
    padding: 1rem 4rem;
    background-color: rgba(0, 0, 0, 0.199);
    border-radius: 3rem;
    border-left-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    margin-left: 25rem;
    margin-top: 1rem;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;

}

#buttom:hover {
    padding: 1.2rem 4.4rem;
    background-color: rgb(143, 3, 3);
    border-radius: 4rem;
    border-left-color: rgba(255, 255, 255, 0.623);
    border-top-color: rgba(255, 255, 255, 0.623);
    margin-left: 25rem;
    margin-top: 1rem;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);

}

#img-div {
    padding: 2.5rem;
    background-image: url(imagens/Background2.png);
    background-position: center;
    background-size: auto;
}

.section {
    padding: 4rem;
    display: flex;
    background: linear-gradient(180deg, #34343664, rgba(134, 145, 167, 100)), url(imagens/Background2.png);

    background-position: center;

    background-attachment: fixed;


}

.section div h2 {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: left;
    color: rgb(119, 4, 4);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.section div p {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.774);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    margin-right: 5rem;
}

.section div img {
    border-radius: 1rem;
    /* width: 30rem;
    height: 40rem; */
    width: 110%;
    height: 110%;

}

/* **************************** */
.section4 {
    padding: 3.5rem;
    display: flex;
    background: linear-gradient(360deg, #000000bd, rgba(15, 15, 15, 0.212));

}

.section4 div h2 {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: left;
    color: rgba(54, 51, 51, 0.822);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    margin-left: 18rem;
}

.section4 div p {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: rgba(5, 5, 5, 0.774);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    margin-left: 19rem;
}

.section4 div img {
    border-radius: 1rem;
    /* width: 30rem;
    height: 40rem; */
    width: 180%;
    height: 110%;
    margin: -2.2rem;
}

/* **************************** */
#section5 {
    padding: 3.5rem;
    display: flex;
    background: url(imagens/Background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

#section5 div h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    text-align: right;
    color: rgba(255, 255, 255, 0.822);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    margin-left: 10rem;
}

#section5 div p {
    font-family: 'shlop';
    font-size: 15rem;
    color: rgba(134, 3, 3, 0.904);
    font-style: oblique;
}

/* ************************************ */

.rodape {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: linear-gradient(360deg, #ffffff 0%, #000000 70%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.class-rodape {
    display: flex;
    padding: 4rem;
    margin-top: 3rem;
}

.rodape div img {
    width: 20%;
    margin-right: 1rem;

}